.button {
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid lemonchiffon;
  color: lemonchiffon;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1rem 40px;
  outline: none;

  margin: 10px;
}
