.ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  min-height: 300px;

  li {
    padding: 14px;
    margin: 5px;
    width: 120px;
    display: inline;
    border-radius: 3px;
    border: 1px solid lemonchiffon;
  }
}
